<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Tom's Portfolio</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Krona+One&amp;family=Noto+Sans&amp;display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/"><img id="logo" src="/assets/img/icon.png" alt="personal logo"/></a>
      <div class="selectedNav"><a href="/about">About Me</a></div>
      <div class="navlink"><a href="/games">Game Projects</a></div>
      <div class="navlink"><a href="/web">Web Projects</a></div>
    </nav>

  <section id="aboutHeader" class="centerAlign">
    <h1>Thomas Leonard</h1>
    <p>Program Developer, &amp; Digital Media Creator.</p>
  </section>

  <div id="about">
      <div id="lefttext">
          <h1>ABOUT</h1><br>
          <p class="top">Hi, my name is Thomas Leonard, I'm a Rochester Institute of Technology graduate currently practicing web development at Fairfield University. My goal is to land a job in any area of media &amp; software development in the immediate future.</p>
          <p>I am proficient in object oriented programming for game development using engines such as Unity and Unreal Engine. Alongside this, I am experienced using HTML, CSS, and Javascript for web development. I have been developing digital content personally and professionally for over 8 years now. If you want to learn more about my specific work experience or my larger skillset, please view my <a href="/assets/resume.pdf"class="viewLink">resume</a> linked below!</p><br>
      </div>
      <div id="rightimage">
          <img src="/assets/img/headshot.jpg" alt="Thomas Leonard Headshot">
      </div>
  </div>
  <hr>
  <div id="triple">
    <div>
      <h1>EDUCATION</h1><br>
      <p class="top">Studied at RIT from August 2019 through May 2023</p>
      <p>Bachelor of Science, Game Design &amp; Development, Minor in Psychology</p>
      <p>Cummulative GPA: 3.90</p>
      <p>Extracurricluar: Vice President of RIT Improv</p>
      <p><a href="/assets/transcript.pdf"class="viewLink">Click Here to View Transcript</a></p>
      <img class="bottom" src="/assets/img/rit.png" alt="Photo of RIT">
    </div>
    <div>
      <h1>WORK EXPERIENCE</h1><br>
      <p class="top">Web Developer at Fairfield University &#40;June 2023 - Present&#41;</p>
      <p>Web Developer at ICF &#40;June 2022 - August 2022&#41;</p>
      <p>UI Designer at Ivy Biomedical &#40;June 2021 - August 2021&#41;</p>
      <p>Call Operator at RIT Telefund &#40;March 2020 - October 2021&#41;</p>
      <p>Market Researcher at Light Sources &#40;May 2018 - August 2018&#41;</p>
      <img class="bottom" src="/assets/img/logos.png" alt="Logos of Previous Companies">
    </div>
    <div>
      <h1>CONTACT</h1><br>
      <p class="top">Did I peak your interest? Here's where you can reach me!</p>
      <p>Phone: &#40;475&#41; 331-5310</p>
      <p>Email: tml1957@rit.edu</p>
      <p><a href="https://www.linkedin.com/in/thomas-leonard-98b411199/"class="viewLink">Click Here to View LinkedIn</a></p>
      <p><a href="/assets/resume.pdf"class="viewLink">Click Here to View Resume</a></p>
      <img class="bottom" src="/assets/img/closer.png" alt="I really debated on including this photo, but it makes me laugh. So I hope it makes you laugh as well.">
    </div>
  </div>
  <hr>
  <br><br><br><br>
</body>
</html>
