<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Tom's Portfolio</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Krona+One&amp;family=Noto+Sans&amp;display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div id="welcome">
      <h1 class="centerAlign">Welcome</h1>
      <img id="icon" src="/assets/img/iconHQ.png" alt="personal logo"/>
  </div>
  <div class="landingNav">
    <a class="landingNavLink" href="/about">
      <img class="landingNavLeft" src="/assets/img/aboutLeft.png" alt="photo of thomas leonard on a good day"/>
      <h1 class="centerAlign centerNav">About Me</h1>
      <img class="landingNavRight" src="/assets/img/aboutRight.png" alt="photo of thomas leonard on a great day"/>
    </a>
  </div>
  <br>
  <div class="landingNav">
    <a class="landingNavLink" href="/games">
      <img class="landingNavLeft" src="/assets/img/gamesLeft.png" alt="screencap from bullet hell basketball"/>
      <h1 class="centerAlign centerNav">Game Projects</h1>
      <img class="landingNavRight" src="/assets/img/gamesRight.png" alt="screencap from stationary"/>
    </a>
  </div>
  <br>
  <div class="landingNav">
    <a class="landingNavLink" href="/web">
      <img class="landingNavLeft" src="/assets/img/webLeft.png" alt="screencap of Little Guy Maker"/>
      <h1 class="centerAlign centerNav">Web Projects</h1>
      <img class="landingNavRight" src="/assets/img/webRight.png" alt="screencap of Pictoboards"/>
    </a>
  </div>
</body>
</html>
